#show-hide {
  transform: translateX(-50px);
  cursor: pointer;
}
.validations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}
.form-body {
  height: 600px;
  width: 600px;
  margin: auto;
  border: 2px solid black;
  background-color: aliceblue;
}
.form {
  margin-top: 20px;
}
.faCross {
  display: inline;
}
.faCheck {
  display: inline;
}
.icon {
  margin-right: 5px;

  width: 15px;
  height: 15px;
}
input {
  color: rgb(69, 75, 81);
  border: none;
  border-bottom: 2px solid lightgray;
  width: 80%;
  height: 40px;

  border-radius: 10px;
}
.errors {
  color: red;
  font-size: smaller;
}
.submit-button {
  background-color: rgb(147, 147, 239);
  color: white;
  width: 50%;
  margin: 50px 0 10px 0;
  cursor: pointer;
}

@media only screen and (max-width: 688px) {
  .validations {
    display: block;
  }
}
